@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    min-height: 100vh;
    background-color: #fee648;
    padding:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
section .container{
    position: relative;
    width:800px;
    height:500px;
    background-color: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
section .container .user{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display:flex;
}
section .container .user .imgBx{
    position:relative;
    width:50%;
    height:100%;
    background-color: #fff;
}
section .container .user .formBx{
    position: relative;
    width:50%;
    height:100;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
}
section .container .user .formBx h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width:100%;
    margin-bottom: 10px;
    color:#555;
}
section .container .user .formBx input{
    width:100%;
    font-weight: 600;
    background-color: #f5f5f5;
    padding: 10px;
    color:#333;
    border:none;
    outline:none;
    font-size: 14px;
    margin: 8px 0;
    letter-spacing: 2px;
}
